<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Reports | Automation Reporting</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-S8G07DD98J"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-S8G07DD98J");
    </script>
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto">
          <a href="/">Automation Nation</a>
        </h1>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/trigger" class="btn btn-default">Run GI Tests</a></li>
            <li><a href="/reports" class="btn btn-default">Reports</a></li>
            <li><a href="/logout" class="btn btn-default">Log out</a></li>
            <li><a href="/login" class="btn btn-default">Login</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <div class="container main-content">
      <h1>Tests have been triggered</h1>
      <p>
        You can close this window, check your email for test complete
        notification.
      </p>
      <div class="row">
        <div class="col-sm">
          <iframe
            src="https://giphy.com/embed/pFZTlrO0MV6LoWSDXd"
            width="480"
            height="288"
            frameBorder="0"
            class="giphy-embed"
            allowFullScreen
          ></iframe>
          <p>
            <a
              href="https://giphy.com/gifs/waiting-mr-bean-checking-time-pFZTlrO0MV6LoWSDXd"
              >via GIPHY</a
            >
          </p>
        </div>
      </div>
    </div>

    <footer id="footer" class="fixed-bottom">
      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Automation Nation</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
